
\.DS_Store

CryptoApp/CryptoApp\.xcodeproj/project\.xcworkspace/xcuserdata/wellingtonbezerra\.xcuserdatad/UserInterfaceState\.xcuserstate

CryptoApp/CryptoApp\.xcodeproj/xcuserdata/wellingtonbezerra\.xcuserdatad/xcschemes/xcschememanagement\.plist
