
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
Click = "*"
cycler = "*"
flask-cors = "*"
gunicorn = "*"
itsdangerous = "*"
Jinja2 = "*"
kiwisolver = "*"
MarkupSafe = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
patsy = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
scipy = "*"
seaborn = "*"
simplejson = "*"
six = "*"
statsmodels = "*"
Werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.6.8"
