
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
chardet = "*"
Click = "*"
docopt = "*"
flask-cors = "*"
idna = "*"
ipaddress = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
numpy = "*"
pipreqs = "*"
pocketsphinx = "*"
PyMySQL = "*"
python-dateutil = "*"
requests = "*"
six = "*"
urllib3 = "*"
Werkzeug = "*"
XlsxWriter = "*"
yarg = "*"

[dev-packages]

[requires]
python_version = "3.6.8"
