
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
chardet = "*"
Click = "*"
docopt = "*"
flask-cors = "*"
idna = "2.6"
ipaddress = "1.0.22"
itsdangerous = "1.1.0"
Jinja2 = "2.10"
MarkupSafe = "1.1.0"
numpy = "1.14.5"
pipreqs = "0.4.9"
pocketsphinx = "0.1.15"
PyMySQL = "0.8.0"
python-dateutil = "2.7.5"
requests = "2.18.4"
six = "1.12.0"
urllib3 = "1.22"
Werkzeug = "0.14.1"
XlsxWriter = "1.0.2"
yarg = "0.1.9"

[dev-packages]

[requires]
python_version = "3.6.8"
